fastapi==0.115.0
pydantic==2.9.2
pydantic-settings==2.5.2
hypercorn==0.17.3
motor==3.6.0
pymongo==4.9.1
python-jose[cryptography]==3.3.0
bcrypt==4.2.0
python-dotenv==1.0.1
email-validator==2.2.0
python-multipart==0.0.12
openai==1.51.0
pypdf==5.0.1
python-docx==1.1.2
